.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.container > .blue,
.red,
.green {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    margin: 2vw;
    background-image: linear-gradient(
        145deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    animation: bounce 1.5s 0.5s linear infinite;
}
.blue {
    background-color: #2a26ff;
}
.red {
    background-color: #e52828;
    animation-delay: 0.1s;
}
.green {
    background-color: #3db102;
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%,
    50%,
    100% {
        transform: scale(1);
        filter: blur(0px);
    }
    25% {
        transform: scale(0.6);
        filter: blur(3px);
    }
    75% {
        filter: blur(3px);
        transform: scale(1.4);
    }
}
